.ferris-wheel{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 800px;
	background-color: rgba(200,200,200,0.3);
}

.container-3d{
	position: relative;
	width: 400px;
	height: 400px;
	top: 30%;
	left: 30%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotate3d(-1,1,0,15deg);
}

.cube-container{
	position: absolute;
	left: 40%;
	top: 20%;
	height: 300px;
	width: 300px;
}
.cube{
	height: 300px;
	width: 300px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin-z: -150px;
	-webkit-transform: rotate3d(-1,1,0,0deg);
}

.face{
	position: absolute;
	width: 300px;
	height: 300px;
	border: 1px solid red;
}

.back{
	-webkit-transform: rotate3d(0,1,0,180deg) translate3d(0,0,300px);
}

.left{
	
	-webkit-transform: rotate3d(0,1,0,-90deg) translate3d(-150px,0,150px);
}
.right{
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(150px,0,150px);
}

.top{
	-webkit-transform: rotate3d(1,0,0,90deg) translate3d(0,-150px,150px);
}

.bottom{
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,150px,150px);
}

.cube2-container{
	position: absolute;
	left: 265px;
	top: 44%;
	width: 100px;
	height: 100px;
}

.cube2{
	height: 100px;
	width: 100px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin-z: -140px;
	-webkit-transform: rotate3d(-1,1,0,0deg) translate3d(0,0,-90px);
}

.face2{
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid blue;
}

.face2.back{
	-webkit-transform: rotate3d(0,1,0,180deg) translate3d(0,0,100px);
}

.face2.left{
	
	-webkit-transform: rotate3d(0,1,0,-90deg) translate3d(-50px,0,50px);
}
.face2.right{
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(50px,0,50px);
}

.face2.top{
	-webkit-transform: rotate3d(1,0,0,90deg) translate3d(0,-50px,50px);
}

.face2.bottom{
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,50px,50px);
}

/*.cart{
	position:absolute;
	width: 60%;
	height: 400px;
	background-color: rgba(100,100,100,0.8);
	border: 1px solid red;
}
.cart1{
	top: 200px;
	left: 20%;
}
.cart2{
	top: 0;
	left: 20%;
}
.cart3{
	top: 200px;
	left: 20%;
}
.cart4{
	bottom: 0;
	left: 20%;
}
.pos1{
	-webkit-transform: preserve3D;
	-webkit-transform: rotateX(0deg);
}
.pos2{
	-webkit-transform: preserve3D;
	-webkit-transform: rotateX(90deg);
}
.pos3{
	-webkit-transform: preserve3D;
	-webkit-transform: rotateX(180deg);
}
.pos4{
	-webkit-transform: preserve3D;
	-webkit-transform: rotateX(270deg);
}*/